@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html,
body {
                min-height: 100%;
                color: #fff;
                background-color: #EBEFDE;
                font-style: 'Lato', sans-serif;
                /*noten que color y background-color se repite en header#titular*/
            }
            header#titular {
                min-height: 100vh;
                color: #fff;
                background-color: #EBEFDE;
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-position: center top;
                background-size: 100% auto;
                background-image: url("img/portada-02.png");
                /* Uso una imagen cuadrada para pantallas más angosta SM*/
            }

            @media (min-width: 768px) {
                header#titular {
                    background-image: url("img/portada-01.png");
                    /* Uso una imagen apaisada para pantallas más anchas MD*/
                }
            }

header#titular div.container {
    height: 100vh; /*  Misma altura que el header */
}

header#titular h1 {
    color:rgba(38,67,27,0.9); /* en caso quieran un texto blanco algo traslúcido */
    font-family: 'Just Another Hand', cursive;
    font-size: 55px;
}

header#titular h3 {
    color:rgba(38,67,27,0.6); /* en caso quieran un texto blanco un poco más traslúcido que el título de primer nivel */
  	font-family: 'Lato', sans-serif;
}

p{
 color:#89995B;
 	font-family: 'Lato', sans-serif;

}

body::-webkit-scrollbar {
	width: 0.4rem;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb {
	background-color: #a2b679;
}


img.ancho1 {
	width: 80%;
	background-size: cover;
}

img.ancho2 {
	width: 120%;
	margin-left: -10%;
	margin-top: 10%;
}

img.anchop {
	width: 60%;
	display: block;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

img.codigo {
	width: 50%;
	display: block;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

img.pais {
	width: 100%;
	display: block;
	position: relative;
	top: 50%;
	left: 80%;
	transform: translate(-30%, -50%);
}

.gap100 {
	padding: 70px 0px;
}

a.deco-none {
	color: inherit;
	text-decoration: none;
}


h1 {
	font-family: 'Just Another Hand', cursive;
	color: #869959;
  font-size: 230%;
}

h5,h6 {
	font-family: 'Lato', sans-serif;
	color: #869959;
}

footer {
	background-color: #a2b679;
	font-size: 90%;
	color: #EBF1DE;
}

footer a {
	color: #26431b;
}

footer a:hover {
	color: #869959;
}
